@import '~bootstrap/scss/bootstrap.scss';

@include media-breakpoint-up(lg) {
  .general-setting {
    width: 50%;

    &:nth-child(2n-1) {
      padding-right: 20px;
    }
    &:nth-child(2n) {
      padding-left: 20px;
    }
  }

  .emote-group {
    grid-template-columns: repeat(6, 1fr);
  }
}
