#home .option-list > * {
  width: 50%;
  margin-bottom: 10px;
  overflow: hidden;

  &.collapsed {
    height: 0px;
  }
}

.general-setting {
  width: 100%;

  label {
    flex: 1 0 auto;
    padding-right: 20px;
  }
}

#gallery-menu {
  top: -17px;
  background-color: #ffffff;
}

.accordion,
.accordion-item {
  border: none !important;
}

.accordion-item {
  &:first-child {
    margin-top: 0px;
  }

  &:last-child .accordion-header {
    border-bottom: none;
  }

  .accordion-body {
    padding: 15px 0px;
  }

  .accordion-header {
    padding: 3px 0px;
    position: sticky;
    top: 25px;
    background-color: #fff;
    border-bottom: 1px solid #e3e3e3;

    button {
      padding: 12px 0px 8px;
      background-color: transparent;

      &:hover {
        background-color: rgb(0 0 0 / 6%);
      }

      &:focus {
        box-shadow: none;
      }

      &:not(.collapsed) {
        background: none;
        box-shadow: none;
      }
    }
  }
}

.emote-group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 120px;
  gap: 7px;

  .emote {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    border: 1px solid transparent;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;

    &:hover {
      background-color: rgb(0 0 0 / 6%);
    }

    img {
      width: auto;
      max-height: 60px;
      max-width: 90%;
    }

    &.selected {
      background-color: rgb(0 142 255 / 10%);
      border: 1px solid #0d6efd;

      &:hover {
        background-color: rgb(13 110 253 / 14%);
      }
    }
  }
}
